/logs/*
/data/*
/cache/*
/backup/*
/nbproject/
.project
/index.sublime-project
/cubecms.sublime-project
/cubecms.sublime-workspace
/index.sublime-workspace
/htcubecmscom/
/subdomain/cache/
/subdomain/logs/
/subdomain/data/