.pirobox_gall {
}

.pirobox {
}

.image-left {
   float: left;
   padding: 0 5px 5px 0;
}
.image-right {
   float: right;
   padding: 0 0 5px 5px;
}

/* CONTENT sytyl */

body, html {
/*   font-size: 10px;*/
   font-family: "Tahoma", "Arial", sans-serif !important;
}
body.mceContentBody {
   font-size: 100% !important;
   font-family: "Tahoma", "Arial", sans-serif !important;
}
p,h2,h3,h4 {
   margin-bottom: 5px;
}

.note {
   font-size: x-small;
   border-top: 1px solid silver;
}
