/* písma a barvy */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td, 
body.mceContentBody {
   font-family: "Tahoma", "Arial", sans-serif !important;
}
body.mceContentBody {
   font-size: 100%;
}
p,h2,h3,h4 {
   margin: 0;
   padding: 0;
   padding-bottom: 5px;
   text-align: justify;
}
h1 {
   font-size: large;
}
h2, h2 a {
   font-size: medium;
}
/* Styly pro boxy */
.note {
   font-size: x-small;
   border-top: 1px solid silver;
}

/* Styly pro obrázky */
.image-left {
   float: left;
   padding: 0 5px 5px 0;
}
.image-right {
   float: right;
   padding: 0 0 5px 5px;
}
