@CHARSET "UTF-8";
.panelActions>img {
	padding: 0 0 10px 10px;
}

.panelActions>a {
   text-align:right;
   display:block;
}

.action .actionHidden {
   color:gray;
}

.action p.subLabel {
   font-weight:bold;
}

.action img {
   padding: 0px 10px 10px 0px;
}
