@CHARSET "UTF-8";
.forum-topic-name {width: 60%;}
.forum-topic-author, .forum-topic-posts, .forum-topic-views { 
   width: 13%;
   text-align: center;
}

.forum-items table {
   margin-bottom: 1em;
}
.forum-post-item td {
   vertical-align: top;
}
.forum-post-author {
   width: 25%;
}
.forum-post-message {
   width: 75%;
}
.forum-post-item.censored {
   background-color: #DDDDDD;
}