@CHARSET "UTF-8";
.galeryBoxContainer {
	display: inline;
}

.galeryBox {
	position: relative;
	width: 146px;
	margin: 2px;
	text-align: center;
	border: 1px solid black;
	padding: 2px;
}

.galeryBox p {
	text-align: left;
	display: block;
	margin-bottom: 3px;
}

.smallPhotoBox {
	position: relative;
	height: 130px;
}

.smallPhotoBox a {
	vertical-align: middle;
}



.galery_box div.galery_text {
	text-align: justify;
}


.smallPhotoBox {
	text-align: center;
}

.photo_buttons_edit {
	padding: 0 0px;
}

.photo_small_image {
	height: 150px;
	margin: 5px;
	margin-top: 50px;
}