#category-structure-wrap { float: left; width: 60%;}
#category-structure {
   border: 1px solid gray;
   overflow: auto;
   background-color: transparent;
}
#category-structure .no-original {
   color: gray;
   font-style: italic;
}
#category-buttons {
   form, button {
      display: inline-block;
   }
   input, button {
      vertical-align: top;
   }
}

#category-info { width: 40%; overflow: auto; }
#category-info div { margin-left: 10px; }
#category-info td, #category-info th {padding: 2px;}
#category-info td.cell-lang {width: 30px; text-align: right;}
#category-info tr.single-row th {width: 100px;}


#category-info label { font-weight: bold;}
#category-info p { margin-left: 10px;}

#module-desc {
   strong {
      display: block;
      margin: 5px;
   }
   table { 
      td, th {
         padding: 3px;
         vertical-align: top;
      }
      margin-top: 10px; 
      border: 1px solid silver; 
   }
   .content {
      border: 1px solid silver;
      padding: 3px;
      background-color: white;
      color: black;
      border-radius: 3px;
   }
}
