@CHARSET "UTF-8";
#category-structure-wrap { float: left; width: 60%;}
#category-structure {
   border: 1px solid gray;
   overflow: auto;
   background-color: transparent;
}

#category-info { width: 40%; overflow: auto; }
#category-info div { margin-left: 10px; }
#category-info td, #category-info th {padding: 2px;}
#category-info td.cell-lang {width: 30px; text-align: right;}
#category-info tr.single-row th {width: 100px;}


#category-info label { font-weight: bold;}
#category-info p { margin-left: 10px;}

div.moduleLabel table { margin-top: 10px; border: 1px solid silver; }
div.moduleLabel table tr td, div.moduleLabel table tr th {
   padding: 3px;
   vertical-align: top;
}