/*
 * Komponenty formulářů
 */
/* Jazykové taby */
form {
   .lang-container {
      a.link-lang {
         color: black;
         font-size: 12px;
         border: 1px solid #aaa;
         padding: 3px 6px;
         display: inline-block;
         /*float: left;*/
         /*background: transparent url('@{dirCoreImages}forms/langs_back.gif') 0 0 repeat-x;*/
         @radius: 4px;
         -moz-border-top-left-radius: @radius;
         -moz-border-top-right-radius: @radius;
         border-top-left-radius: @radius;
         border-top-right-radius: @radius;
         text-decoration: none;
         border-bottom: 0px none;
         color: #aaa;
         background-color: #fff;
      }
      a.link-lang-duplicator {
         &:before {
            font-family: "FontAwesome";
            content: "\f0e8";
            display: inline-block;
            margin-right: 5px;
         }
         &:hover {
            color: @color-bg-important;
         }
         color: #aaa;
         background-color: #fff;
         text-decoration: none;
         padding: 3px 6px;
         display: inline-block;
         font-size: 12px;
      }
      a.link-lang:hover, a.link-lang-sel:hover, a.link-lang:focus, a.link-lang-sel:focus {
         /*background-position: 0 -20px;*/
         text-decoration: none;
         color: #000;
         border-color: #000;
      }

      a.link-lang-sel {
         /*background-position: 0 -40px;*/
         background-color: #ddd;
         color: #000;
         border-color: #000;
      }
      
      margin: 0;
      /*padding: 3px 5px 0;*/
      padding-right: 0;
      /*border: 1px solid #bbbbbb;*/
      border-bottom: 0px solid transparent;
      /*float: left;*/
      display: inline-block;
      /*background-color: #eeeeee;*/
   }
   .form-elem-container { /*form-link-lang-container need clearfix */
      clear: left;
   }
   .image-selector {
      input, select {
         .rounded-corners();
      }
      .image-selector-img-box {
         &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }
         img {
            max-height: 90px;
            max-width: 90px;
            vertical-align: middle;
         }
         .rounded-corners();
         .inner-box-sahadow();
         overflow: hidden;
         padding: @padding-small;
         border: 1px solid @color-border;
         float: left;
         width: 102px; // padding
         height: 102px; // padding
         background-color: @color-bg;
         text-align: center;
         line-height: 90px;
      }
      .image-selector-inputs {
         .form-control {
            margin-bottom: @padding-small;
         }
         .image-selector-gallery-button {
            float: right;
         }
         margin-left: 110px;
      }
   }
}
/* modal pro výběr obrázku */
.image-selector-modal {
   .modal-image-selector-image {
      &.active {
         .tools-box-sahadow();
         background-color: @color-bg-hover;
      }
      &:hover {
         border-color: @color-border-hover;
      }
      img {
         max-width: 80px;
         max-height: 80px;
         vertical-align: middle;
      }
      padding: 5px;
      line-height: 90px;
      .rounded-corners();
      text-align: center;
      width: 102px;
      height: 102px;
      margin: 0 @padding-small @padding-small 0;
      float: left;
      border: 1px solid @color-border;
   }
}

