/* tabs from boostrap */
.cubecms-tabs {
   .nav-tabs {
      &.tabs-small {
         a {
            font-size: @font-size-small - 2;
         }
      }
      > li {
         a {
            padding: @padding-small @padding-base;
            .border-bottom-radius(0);
            border-bottom: 1px solid transparent;
            margin-right:  @padding-small;
         }
         float: left;
         margin: 0 0 -1px 0 !important;
      }
      margin-bottom: 0;
      border-bottom: 1px solid @nav-tabs-border-color;
      padding: 0;
   }
   .tab-content {
      padding: @padding-base;
      border-left: 1px solid @nav-tabs-border-color;
      border-bottom: 1px solid @nav-tabs-border-color;
      border-right: 1px solid @nav-tabs-border-color;
      background-color: @color-bg;
      .border-bottom-radius(@border-radius-base);
   }
   .tab-tools {
      >a, >span {
         display: inline-block;
      }
      .nav > li > a:focus {
         background-color: transparent;
      }
      float: right;
   }
   margin-bottom: @padding-large;
}