@CHARSET "UTF-8";
.galeryBoxContainer {
	display: inline;
}

.galeryBox {
	position: relative;
	width: 150px;
}

.smallPhotoBox {
	position: relative;
	height: 130px;
}

.smallPhotoBox a {
	vertical-align: middle;
}


.galery_box {
	padding: 10px;
	text-align: center;
}

.galery_box div.galery_text {
	text-align: justify;
}


.smallPhotoBox {
	width: 33%;
	text-align: center;
}

.photo_buttons_edit {
	padding: 0 30px;
}
