@color-border: #eee;
// tpl edit photos
#image-uplaod-component {
   .form-group {
      margin-bottom: 0;
   }
   .coll-input {
      input {
         width: 100%;
      }
      float: left;
      width: 70%;
   }
   .coll-buttons {
      input {
      }
      float: left;
      width: 30%;
   }
   .form-controls {
      width: 100%;
   }
   #upload-target {
      position: absolute;
      top: -1000px;
      left: -1000px;
   }
   .drop-area-label {
      clear: both;
      margin: 10px 10px 0;
      font-style: italic;
   }
   padding: 10px;
   border: 1px solid @color-border;
   margin-bottom: 20px;
}

/* drop area */
.drop-area {
   &.draging {
      background-color: #88e088;
   }
}

/* uplaod queue */
#upload-queue {
   li {
      .col-left {
         .thumbnail {
            text-align: center;
            display: block;
         }
         img {
            max-width: 50px;
            max-height: 50px;
            margin: 5px;
         }
         float: left;
         width: 70px;
      }
      .col-right {
         span {
            &.name {
               font-weight: bold;
               margin: 10px 0 3px 0;
            }
            display: block;
         }
         padding-top: 10px;
         /*margin-left: 70px;*/
         /*float: left;*/
         
      }
      .button-cancel-upload {
         &,&:visited,&:hover {
            color: #fa4d4d;
         }
         position: absolute;
         top: 5px;
         right: 5px;
      }
      position: relative;
      border: 1px solid @color-border;
      padding: 5px;
      margin-top: 10px;
   }
   max-height: 200px;
   overflow: hidden;
   overflow-y: auto;
}
.progress {
   .progress-bar {
      height: 100%;
      float: left;
      width: 0%;
      background-color: #428bca;
      color: black;
      text-align: center;
   }
   background-color: #eee;
   height: 20px;
   overflow: hidden;
   border-radius: 4px;
}

/* images list */
#images-list {
   li {
      &.selected {
         background-color: #ffffcc;
      }
      &.active-edit {
         background-color: #91c8ff;
      }
      .image-title {
         display: block;
         text-align: center;
         margin: 3px 3px 0;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         border: 0px none transparent;
         color: #666;
      }
      .image-thumb {
         img {
            text-align: center;
            vertical-align: middle;
            cursor: move;
         }
         margin: 5px;
         display: block;
         text-align: center;
         border: 0px none transparent;
         height: 150px;
         line-height: 150px;
      }
      .image-tools {
         div {
            display: inline-block;
            float: none;
            margin: 0 3px;
         }
         text-align: center;
         display: block;
         margin: 10px;
      }
      .image-checkbox {
         position: absolute;
         bottom: 7px;
         left: 3px;
      }
      position: relative;
      width: 23%;
      height: 210px;
      float: left;
      border: 1px solid @color-border;
      margin: 0 10px 10px 0;
      background-color: #efefef;
      box-shadow: 0 0 3px 1px #aaa;
      overflow: hidden;
   }
}

// akce s obrázky
#images-actions {
   .form-group {
      margin-bottom: 0;
   }
   border: 1px solid @color-border;
   margin-bottom: 10px;
   padding: 10px;
   background-color: #fff;
}


/* OLD !!! */
/* seznam fotek mazani */
input.editimage_ord_class { width: 40px;}
.swfupload-control p { }
/*.swfupload-control object { z-index: 10 !important; vertical-align: bottom; }*/

#SWFUpload_0 { position: absolute; z-index: 1;}
.swfupload-control {padding: 5px; margin-bottom: 10px;}
.ui-widget-upload h2, .ui-widget-imageslist h2 { padding: 2px 5px; }
.ui-widget-upload {
   .upload-controll {
      margin: 10px 0;
   }
   .upload-images-selected {
      font-size: 80%;
      margin-top: 5px;
   }
}
.ui-widget-upload input[type="checkbox"], .ui-widget-imageslist input[type="checkbox"] { vertical-align: middle;}


#upload-files-log {
   margin:0; padding:0;

   li{
      list-style-position:inside;
      margin:2px;
      border:1px solid #ccc;
      padding:10px;
      font-size:12px;
      font-family:Arial, Helvetica, sans-serif;
      color:#333;
      background:#fff;
      position:relative;

      &.success{ border:1px solid #339933; background:#ccf9b9; }
      .progressbar { border:1px solid #333; height:5px; background:#fff; overflow: hidden; padding: 0; }
      .progress { background:#999; width:0%; height:5px; display: block; }
      span.cancel{ position:absolute; top:5px; right:5px; width:20px; height:20px;
      background:url('/images/icons/cancel.png') no-repeat; cursor:pointer; }
   }
}
#edit-photos-list {
   overflow: auto;
   background-color: whitesmoke;

   &.edit-photos-list-short {
      height: 500px;
      clear: both;
   }

   table {
      table-layout: fixed;
      td {
         vertical-align: top;
         padding: 3px;
         position: relative;

         &.photo-preview {
            width: 75px;
            img {
               display: block;
               margin-bottom: 5px;
            }
         }
         .photo-desc {
            position: relative;
         }
         &.photo-select {
            width: 20px;
            vertical-align: middle;
            text-align: center;
         }

         .button-delete-image {
            position: absolute;
            top: 5px;
            right: 5px;
         }

         .photo-name-controll {
            margin-bottom: 10px;
         }
      }
      textarea { width: 250px;}
   }
}
 .ui-widget-imageslist {
    .list-controlls {
       text-align: right;
       padding: 5px;
       .images-counter-wrap {
          float: left;
          font-size: 90%;
          padding-top: 2px;
       }
    }
    .button-toggle-all {
       float: left;
    }
 }

 .ui-dialog-rotate {
    margin: 10px 5px;
 }

#images-sorter {
   padding: 5px;

   ul {
      list-style: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
   }
   li {
      list-style-image: none;
      list-style: none;
      margin: 0px 5px 5px 0;
      padding: 5px;
      float: left;
      width: 70px;
      height: 70px;
      position: relative;
      cursor: move;
   }
   .form-controlls {
      margin-top: 1em;
      padding: 5px;
      text-align: right;
   }
}

.button-delete-image { position: absolute; top: 0; right: 0; }
