<!DOCTYPE html>
<html>
   <head>
      <title>Nový příspěvek ve fóru</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
         
      </style>
   </head>
   <body>
      <h1>Nový příspěvek: <a href="{MESSAGE_NEW_LINK}" title="{MESSAGE_NEW_NAME}">{MESSAGE_NEW_NAME}</a></h1>
      Od: <span><em>{MESSAGE_NEW_INFO}</em></span><br/>
      {MESSAGE_NEW_TEXT}
      <br />
      <hr />
      <h2>Téma: {TOPIC_NAME}</h2>
      Od: <span><em>{TOPIC_INFO}</em></span><br/>
      {TOPIC_TEXT}
      <br />
      <hr />
      <h2>Všechny příspěvky </h2>
      <em>max: 100 příspěvků</em><br />
      <hr />
      {MESSAGE}
      <h3>{MESSAGE_NAME}</h3>
      Od: <span><em>{MESSAGE_INFO}</em></span><br/>
      {MESSAGE_TEXT}
      <hr />
      {/MESSAGE}
      
      Stránky: <a href="{WEB_LINK}" title="{WEB_NAME}">{WEB_NAME}</a>
      
      Tento e-mail je generován automaticky. Prosím neodpovídejte na něj.
   </body>
</html>
