<!DOCTYPE html>
<html>
   <head>
      <title>Reakce na Váš příspěvek příspěvek ve fóru</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
         
      </style>
   </head>
   <body>
      <strong>Váš příspěvek: </strong>
      <h1><a href="{MESSAGE_LINK}" title="{MESSAGE_NAME}">{MESSAGE_NAME}</a></h1>
      Od: <span><em>{MESSAGE_INFO}</em></span><br/>
      {MESSAGE_TEXT}
      <br />
      <hr />
      <strong>Reakce:</strong>
      <h2>{REACTION_NAME}</h2>
      Od: <span><em>{REACTION_INFO}</em></span><br/>
      {REACTION_TEXT}
      <br />
      <hr />
      
      <h2>Téma: {TOPIC_NAME}</h2>
      Od: <span><em>{TOPIC_INFO}</em></span><br/>
      {TOPIC_TEXT}
      <br />
      <hr />
            
      Stránky: <a href="{WEB_LINK}" title="{WEB_NAME}">{WEB_NAME}</a>
      
      Tento e-mail je generován automaticky. Prosím neodpovídejte na něj. Pokud již nechce být na nové reakce upozorňováni, 
      klikněte <a href="{CANCEL_LINK}" title="Zrušit upozornění e-mailem na reakce">zde</a>.
   </body>
</html>
