<!DOCTYPE html>
<html>
   <head>
      <title>Nové téma ve fóru</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
         
      </style>
   </head>
   <body>
      <h1>Nové téma: <a href="{TOPIC_LINK}" title="{TOPIC_NAME}">{TOPIC_NAME}</a></h1>
      Od: <span><em>{TOPIC_INFO}</em></span><br/>
      {TOPIC_TEXT}
      <br />
      <hr />

      Stránky: <a href="{WEB_LINK}" title="{WEB_NAME}">{WEB_NAME}</a>
      
      Tento e-mail je generován automaticky. Prosím neodpovídejte na něj.
   </body>
</html>
