<!DOCTYPE html>
<html>
   <head>
      <title>Nový příspěvek ve fóru</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
         
      </style>
   </head>
   <body>
      <h1>Nový příspěvek: <a href="{POST_NEW_LINK}" title="{POST_NEW_NAME}">{POST_NEW_NAME}</a></h1>
      Od: <span><em>{POST_NEW_INFO}</em></span><br/>
      {POST_NEW_TEXT}
      <br />
      <hr />
      <h2>Téma: {TOPIC_NAME}</h2>
      Od: <span><em>{TOPIC_INFO}</em></span><br/>
      {TOPIC_TEXT}
      <br />
      <hr />
      <h2>Všechny příspěvky </h2>
      <em>max: 100 příspěvků</em><br />
      <hr />
      {POST}
      <h3>{POST_NAME}</h3>
      Od: <span><em>{POST_INFO}</em></span><br/>
      {POST_TEXT}
      <hr />
      {/POST}
      
      Stránky: <a href="{WEB_LINK}" title="{WEB_NAME}">{WEB_NAME}</a>
      
      Tento e-mail je generován automaticky. Prosím neodpovídejte na něj.
   </body>
</html>
