#address-tabs .ui-tabs-nav a {
   padding: 3px;
}

#mails-import-form-table td, #mails-import-form-table th {
   padding: 3px;
}

.ui-autocomplete {
   width: 300px;
   max-height: 200px;
   overflow: auto;
}