#address-tabs .ui-tabs-nav a {
   padding: 3px;
}

#mails-import-form-table td, #mails-import-form-table th {
   padding: 3px;
}

.ui-autocomplete {
   width: 300px;
   max-height: 200px;
   overflow: auto;
}

#module-mail-list .ui-accordion-header a {
   padding-top: 2px;
   padding-bottom: 2px;
}

* html div.mail-recipients, * html div.mail-content {
   height: expression( this.scrollHeight > 250 ? "250px" : "auto" ); /* sets max-height for IE */
}
div.mail-recipients, div.mail-content {
   max-height: 250px; /* sets max-height value for all standards-compliant browsers */
   overflow: auto;
   background-color: #e9e8e8;
   padding: 3px;
}
.mail-tools {
   margin: 0.3em 0;
}
.mail-detail.ui-accordion-content {
   padding-top: 0px;

}