
.newsletters-list, .templates-list {
   td, th {
      padding: 4px;
   }
}
/* table newsletters */

.newsletter-tb-name {
//	width: 60%;
}
.newsletter-tb-actions { width: 90px; }
.newsletter-tb-date { width: 130px; }
.newsletter-tb-num-mails { width: 50px; }
.newsletter-tb-viewed { width: 90px; }

.cell-center,
.newsletter-tb-num-mails,
.newsletter-tb-viewed
{
   text-align: center;
}

.newsletter-sended {
   td {
      font-style: italic;
   }
}