#shop-cart table td, #shop-cart table th {
   padding: 5px 10px;
}

#shop-cart table {
   .column-1 {
      padding-left: 0;
   }
   .column-2 {}
   .column-3 { width: 95px; }
   .column-4 { width: 90px; }
   th.column-4 { text-align: center; }
   .column-5 {
      width: 30px; text-align: right;
      padding-right: 0;
   }

   .product-price, .column-price { text-align: right; }


}

#shop-cart {
   .price { font-weight: bold;}
   .no-wrap { white-space: nowrap; }


}

input.shop-cart-qty {
   width: 40px;
}

table .cart-full-price {
   font-weight: bold;
   font-size: 120%;
}

.shop-step-list {
   li {
      &.selected {
         background-color: #fdf5ce;
         font-weight: bold;
      }

      float: left;
      width: 33%;
      padding: 5px 0;
      text-align: center;
      list-style: none;
      margin-bottom: 1em;
   }
   padding: 0; margin: 0;
}

.align-right {
   text-align: right;
}

.ship2pay-info, .product-note {
   padding: 5px;
   background-color: #EFEFEF;
   font-weight: normal;
}

input.goto_order_pickupDate_class {
   width: 80px;
}

.column-price {
   white-space: nowrap;
   text-align: right;
}