@charset "UTF-8";
/* Základní nastavení layoutu */
html,body {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   text-align: left;
}

body {
   font-size: 82%;
   /*background-color: white;  purple tone for outer space */
}

/* resetovač */
.reseter {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   float: none;
   clear: both;
   width: 0px;
   height: 0px;
   line-height: 0px;
   font-size: 0px;
}

.hidden {
   display:none;
}

/* uprava prvku globalne */

/* Hlášky */
.message {
   font-size: small;
   padding: 5px 5px 5px 40px;
   background-repeat: no-repeat;
   background-position: 11px 50%;
   border-bottom: 2px transparent solid;
   border-top: 2px transparent solid;
   margin-bottom: 5px;
}
.message p { margin-bottom:3px; border-top: 1px solid gray;}
.message p:first-child { border: none;}
#infoMessages { border-color: #b7dcff; background-color: #cce6ff;}
#errMessages { border-color: #ffc7c0; background-color: #ffe3e0;}
#coreErrMessage { border-color: #ffa095; background-color: #ffb2a9;}

/* base layout */
#header {
   background-color: #d19405;
   color: white;
   font-weight: bold;
   padding: 5px;
}
#content {
/*   padding: 0 5px;*/
   
}

#footer {
   background-color: #FFE7A1;
}
#footer h4 {
   padding: 5px;
}

#menu-main ul {
   padding: 5px;
   list-style: none;
   margin: 0;
}
#menu-main li {
   float: left;
   padding-right: 5px;
   border-right: 1px solid gray;
   margin-right: 5px;
}


h1 {
   font-size: 110%;
   padding: 5px;
   margin: 0;
   background-color: #FFE7A1;
   border-bottom: 1px solid gray;
}
h2, h4 {
   margin: 0;
   padding: 0 0 5px 0;
   font-size: 100%;
}


/* posts */
.post {
   border-bottom: 1px solid gray;
   background-color: #fdf5ce;
   padding: 5px;
}

.list-posts .post {
   padding-right: 20px;
   background: inherit url('../images/handle/arrow_right.png') center right no-repeat;
}

.list-posts .post a {
   text-decoration: none;
   color: black;
   display: block;
}

.post .date,
.post .showed {
   display: block;
   color: gray;
   font-size: 82%;
   padding-bottom: 3px;
}



/* special butons */
.button, .buttonBack,
#button-no-mobile
{
   display: block;
   padding: 5px 0;
   text-align: center;
}

#button-no-mobile {
   display: block;
   border-top: 1px solid gray;
   margin-top: 5px;
}

/* EOF Modules */

/* SOF file extension */
.file-icon, .dir-icon {
   padding-left: 18px;
   background-color: transparent;
   background-position: center left;
   background-image: url('../images/files/txt.gif');
   background-repeat: no-repeat;
}
.file-pdf {background-image: url('../images/files/pdf.gif');}
.file-doc, .file-docx, .file-dot, .file-odt, .file-ott, .file-rtf {background-image: url('../images/files/doc.gif');}
.file-xls, .file-xlt, .file-ods, .file-ots {background-image: url('../images/files/xls.gif');}
.file-ppt, .file-pps {background-image: url('../images/files/ppt.gif');}
.file-zip {background-image: url('../images/files/zip.gif');}
.file-rar {background-image: url('../images/files/rar.gif');}
.file-avi, .file-wmv, .file-mpg, .file-flv, .file-swf {background-image: url('../images/files/avi.gif');}
.file-jpg, .file-bmp, .file-gif, .file-jpeg, .file-wmf, .file-png, .file-psd, .file-tiff {background-image: url('../images/files/jpg.gif');}
.dir-icon {background-image: url('../images/icons/folder.png');}
/* EOF file extension */

/* admin overwrite */
.toolbox, .toolbox-button { display:  none;}