@CHARSET "UTF-8";
@import "normalize.css";
@import "style-layout.css";

/* PATHS */
@imgdir: "../../../images";

/* Základní nastavení layoutu */
html,body {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   font-size: 100%;
   text-align: left;
   background: url('@{imgdir}/backshadow.png') fixed top center white repeat-y;
}

body {
   /*background-color: white;  purple tone for outer space */
}

/* resetovač */
.reseter {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   float: none;
   clear: both;
   width: 0px;
   height: 0px;
   line-height: 0px;
   font-size: 0px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.hidden {
   display:none;
}

.font-small { font-size: 82%; }

.full-width { width: 100%;}

.left-box { float: left; }

.right-box { float: right; }

/* uprava prvku globalne */
h1 { font-size: 122%; }
h2 { font-size: 112%; }
h3 { font-size: 107%;}

a, a:visited,a:active {
   text-decoration: none;
   border-width: 0;
}

a:hover {
   text-decoration: underline;
}

span[title] {
   border-bottom: 1px dashed gray;
}

p,h1,h2,h3,h4 {
   margin: 0;
   padding: 0;
   margin-bottom: 0.5em;
}
td, th {font-size: 100%; text-align: left; }

.ui-widget { /* ui-widgent má normálně 1.1em */
   font-size: 100% !important;
   font-family: "Tahoma", "Arial", sans-serif !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
   font-size: 0.8em !important;
}

.note {
   .font-small;
   border-top: 1px solid silver;
}

.rounded-corners(@radius: 5px) {
   border-radius: @radius;
   -webkit-border-radius: @radius;
   -moz-border-radius: @radius;
}

.even { background-color: #d4e3ff; }
.odd {}


/* Hlášky */
.message {
   .font-small;
   padding: 5px 5px 5px 40px;
   background-repeat: no-repeat;
   background-position: 11px 50%;
   border-bottom: 2px transparent solid;
   border-top: 2px transparent solid;
   margin-bottom: 5px;
}
.message p { margin-bottom:3px; border-top: 1px solid gray;}
.message p:first-child { border: none;}
#infoMessages, .message-info { border-color: #b7dcff; background-color: #cce6ff; background-image: url('@{imgdir}/icons/accept.png');}
#errMessages, .message-err { border-color: #ffc7c0; background-color: #ffe3e0; background-image: url('@{imgdir}/icons/error.png');}
#coreErrMessage { border-color: #ffa095; background-color: #ffb2a9; background-image: url('@{imgdir}/icons/error.png');}


/* formulařové prvky */
input, button, textarea, select, a.form-button, .button {
   border: 1px solid #bbbbbb;
   background-color: #ffffff;
   padding: 1px;
}
input[type="image"],input[type="checkbox"],input[type="radio"] {
   border: 0;
   background-color:transparent;
}
input[type="submit"], input[type="reset"], input[type="button"], button, input[type="button"], a.form-button, .button {
   .rounded-corners(3px);
   padding: 1px 3px;
   color: black;
   cursor: pointer;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, a.form-button:hover, .button:hover, input.button-warning:hover {
   background: #fff7d4 url('@{imgdir}/forms/buttons_back.gif') 0 0 repeat-x;
   text-decoration: none;
}
input[type="submit"]:hover, button[type="submit"]:hover {
   background-color: #a7fead;
   background-position: 0 -20px;
}
input.button-cancel:hover, input[type="reset"]:hover, button[type="reset"]:hover, .button-cancel:hover {
   background-color: #f57676;
   background-position: 0 -40px;
}
input.form-required, textarea.form-required {
   background-position: right top;
   background-image: url('@{imgdir}/form_required.png');
   background-repeat: no-repeat;
}
label.form-error { color:red; }
input.form-error, textarea.form-error { background-color: #f4d0d0; }
.button {
   padding: 2px 4px;
   margin-right: 4px;
   position: relative;
   float: left;
}
.button div {
   position: relative;
   float: left;
}

/* tabulka formuláře */
form fieldset { 
   width: 100%; 
   margin: 5px 0; 
   padding: 0;
}
form fieldset legend {
/*   color: #666666;*/
   font-size: 14px;
   font-weight: bold;
   padding-bottom: 5px;
   margin-left: 0;
   padding: 0 10px 5px;
}
.form-legend-text {
   .font-small;
}
p.form-legend-text {
   padding: 0 10px 5px;
   color: gray;
}
form table.form-table {
   width: 100%;
   background-color: #e9edf0;
   border-bottom: 10px solid #e9edf0;
   border-top: 10px solid #e9edf0;
}
form table.form-table td, form table.form-table th {
   padding: 5px 10px;
   vertical-align: top;
   border-bottom: 1px dotted #bbbbbb;
}
form table.form-table th.form-labels {
   width: 90px;
}
form table.form-table .mceEditor td, form table.form-table p { /*repair TinyMCE layout */
   padding: 0;
}
form p {margin: 0;}
.form-required {
   color:maroon;
}
input[type="text"], input[type="password"], form .form-table .form-element-short {
   width: 200px;
}
input.mini, input.captcha{ width: 50px;}
input.captcha {vertical-align: top;}
img.captcha {}
textarea, form .form-table .form-element-long {
   width: 450px;
}
.form-row-action-icon {
   height: 16px;
}
.form-sub-label { font-size: 82%; }
#loadingBox {
/*   background-color: white;*/
   text-align:center;
   z-index: 10001;
   padding-top: 30%;
   background-image: url('@{imgdir}/bg_w_70.png');
}
#loadingBox .loader-w {
   text-align: left;
   display: block;
   margin: 0 auto;
   width: 100px;
   border: 1px solid gray;
   background: white url('@{imgdir}/ajax-loader.gif') 3px 3px no-repeat;
   padding: 2px 2px 2px 23px;
   -moz-box-shadow:0 0 2px #000000;
   -webkit-box-shadow:0 0 2px #000000;
   box-shadow:0 0 2px #000000;
}
/* odkaz zpět */
.button_back {
   display: block;
   text-align: center;
   margin-bottom: 5px;
}
/* EOF back */

/* SOF MENU */
#breadcrumb {
   font-size: 70%;
}
#breadcrumb .admin {color: red;}
/* EOF MENU */


/* SOF main content  NEW!!! */
.main-content {} /* Hlavní obsah stránky */
.main-content-list, .main-content-detail, .main-content-comments {} /* Seznamový obsah stránky */
.main-content-link-more {
   text-align: right;
} /* Odkaz více */
.main-content-showed {
   float: left;
} /* Text s počtem zobrazení */
.main-content-comments {} /* box s komentáři */
.main-content-list-record {
   margin-bottom: 0.5em;
} /* prvek v seznamu */
.main-content-no-public, .main-content-concept, .comment-nopublic {
   background-color: #dddddd;
} /* nazveřejněný obsah */
.main-content-list-record-image, .main-content-image {
   float: left;
/*   width: 150px;*/
   text-align: center;
} /* obrázek v prvku v seznamu */
.main-content-list-record-image img, .main-content-image img {
   padding: 0 10px 10px 0;
}
.main-content-list-record-images {} /* Obrázky v seznamu */
.main-content-list-record-date {} /* datum u novinky atd */
.main-content-list-record-text, .main-content-list-record-annotation {
   padding: 0 0 0.7em 0;
} /* text v prvku v seznamu */
.main-content-annotation {
   background-color: #fdf5ce;
   padding: 5px;
   margin-bottom: 1em;
} /* Anotace k textu */
.main-content-tools {
   text-align: right;
} /* linky u článku, řazení, archiv*/
.main-content-note {} /* poznámka */
.main-content-dates {} /* datumy */
.main-content-other {} /* ostatní */
.main-content-image {} /* obrázek v hlavním obsahu */
.main-content-images {} /* obrázeky (galerie) v hlavním obsahu */
.main-content-text {} /* text v hlavním obsahu */
.main-content-text p {}
.main-content-text ul, .main-content-text ol {
   margin-left: 30px;
} /* text v hlavním obsahu */

.main-content-form-edit table.ui-widget td,
.main-content-form-edit table.ui-widget th {
   padding: 3px;
} /* Třída pro editační formulář */

/* JQ ui */
.main-content-list-record .ui-widget-header,
.main-content-list-record .ui-widget-content { padding: 5px; }
.main-content-list-record .ui-widget-header * { padding: 0; }

/* archiv */
.main-content-archive {}/* Hlavní obsah archivu */
.main-content-archive-year {}/* rok v archivu */
.main-content-archive-year-content {}/* obsah roku v archivu */
.main-content-archive-item {}/* položka v archivu */
.main-content-archive-dateadd {
   font-style: italic;
} /* datum přidání položky */



/* EOF main content OLD!!! */

/* SOF main content NEW!!! */
.post {
   margin-bottom: 0.5em;
}
.posts-list .post p {
   margin-bottom: 0;
}
/* EOF main content NEW!!! */

/* SOF panel content NEW!!! */
.panel {
   overflow: hidden;
   .note, .place, .time, .date {
      font-size: 82%;
   }
   .note {
      border: none;
   }
   .time, .date {
      font-style: italic;
   }
}

/* EOF panel content NEW!!! */

/* SOF panel content OLD!!! */
.panel-box {}
.panel-box-label, .panel-box-content-label {
   font-weight: bold;
}
.panel-box-content {
   border: 1px solid gray;
   padding: 2px;
}
.panel-box-content-image {}
.panel-box-link-more {
   text-align: right;
}

/* EOF panel content OLD!!! */

/* SOF Article tools */
.article-tools { padding-top: 1em; }
.facebook-button { float: left; }
.share-button { float: left; padding-top: 4px; width: 180px; }
.share-button div {display: inline;}
.nav-button { padding-top: 4px; text-align: right; }
/* EOF Article tools */

/* SOF Sitemap Content */
.sitemapList li {
   margin-left:20px;
}
/* EOF sitemap Content */

/* scrolovátka */
.scroll { }
.scroll .numbers { margin: 0 150px; text-align: center; }

/* SOF navigtion menu */
.navigationMenu {
   background-color: white;
   border-bottom: 1px solid gray;
   padding: 2px;
}

.navigationMenu #subdomains {
   .left-box;
}
.navigationMenu #projects {
   .right-box;
}
.navigationMenu li { float:left; padding: 2px; }
.navigationMenu li img { vertical-align:bottom; }
/* EOF navigtion menu */

/* SOF komentare */
.comments-comment {
   margin-bottom: 5px;
   border: 1px solid silver;
   .rounded-corners();
}
.comments-tools {
   float: right;
   text-align: right;
}
.comments-tools form {
   float: left;
}
.comments-censored-text {
   background-color: silver;
   font-size: xx-small;
}
.comment-notviewed {
   box-shadow: 0px 0px 5px #000000;
   -webkit-box-shadow: 0px 0px 5px #000000;
   -moz-box-shadow: 0px 0px 5px #000000;
   border: 1px solid #FFE7A1;
}
/* EOF komentare */

/* SOF Modules */
/* login */
#login-form {
   margin: 7em auto;
   width: 250px;
}
#login-form form {
   padding: 5px;
   border: 2px solid #ccc;
   margin-bottom: 10px;
   -moz-box-shadow: 0px 0px 5px #ccc;
   -webkit-box-shadow: 0px 0px 5px #ccc;
   box-shadow: 0px 0px 5px #ccc;
   .rounded-corners();
}

#login-form .login-input-text {
   width: 97%;
   margin: 5px 0 8px 0;
}
/* bannery */
.banners {
   border: 1px solid silver;
   .title {
      color: silver;
      font-style: italic;
      font-size: 80%;
      display: block;
   }
}

/* EOF Modules */

/* SOF file extension */
.file-icon, .dir-icon {
   padding-left: 18px;
   background-color: transparent;
   background-position: center left;
   background-image: url('@{imgdir}/files/txt.gif');
   background-repeat: no-repeat;
}
.file-pdf {background-image: url('@{imgdir}/files/pdf.gif');}
.file-doc, .file-docx, .file-dot, .file-odt, .file-ott, .file-rtf {background-image: url('@{imgdir}/files/doc.gif');}
.file-xls, .file-xlt, .file-ods, .file-ots {background-image: url('@{imgdir}/files/xls.gif');}
.file-ppt, .file-pps {background-image: url('@{imgdir}/files/ppt.gif');}
.file-zip {background-image: url('@{imgdir}/files/zip.gif');}
.file-rar {background-image: url('@{imgdir}/files/rar.gif');}
.file-avi, .file-wmv, .file-mpg, .file-flv, .file-swf {background-image: url('@{imgdir}/files/avi.gif');}
.file-jpg, .file-bmp, .file-gif, .file-jpeg, .file-wmf, .file-png, .file-psd, .file-tiff {background-image: url('@{imgdir}/files/jpg.gif');}
.dir-icon {background-image: url('@{imgdir}/icons/folder.png');}
/* EOF file extension */

/* PRINT */
@media print {
   body { font-size: 80%; }
   * { background: none!important;  background-color: white!important; }
   #page { width: auto; } 
   .image-box {
      float: left;
      margin-right: 10px;
   }
   #headwrap, #col2wrap, #col3wrap, #footwrap {
      display: none;
   }
   #col1pad {
      margin: 0;
   }
}

// import content css
@import "style-content.less";
@import "style-tinymce.less";
