@charset "UTF-8";

/**
 * Základní cesty - NEPOUŽÍVAT RELATIVNÍ CESTY!!! PO KOMPRESI NEBUDOU RELATIVNÍ!!!
 * dirFace - cesta k vzhledu
 * dirFaceParent - cesta k rodičovskému vzhledu
 * dirCoreImages - cestak ke core obrázkům
 * dirCore - cesta k apliakci (base url)
 * dirFaceCss - cesta k css vzhledu
 * dirCoreCss - cestak core css
 */

/* COLORS */
@color-text: #A0A0A0;
@color-text-light: #A0A0A0;
@color-warning: #fcf8e3;
@color-success: #dff0d8;
@color-error: #f2dede;
@color-info: #d9edf7;

/* fonts */
@font-size-base: 14px;
@font-size-small: 11px;
@font-size-large: 18px;

/* PATHS */
@imgdir: @dirCoreImages;


@import "@{dirCoreCss}normalize.css";
@import "@{dirCoreCss}style-layout.css";
@import "cubecms/base.less";

/* Základní nastavení layoutu */
html,body {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   font-size: @font-size-base;
   text-align: left;
   background: url('@{imgdir}backshadow.png') fixed top center white repeat-y;
}

*, *:before, *:after {
   box-sizing:border-box;
   -ms-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box; 
}

/* resetovač */
.reseter {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   float: none;
   clear: both;
   width: 0px;
   height: 0px;
   line-height: 0px;
   font-size: 0px;
}
.clearfix:after, .form-group:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
}
.clear {
   clear: both;
}
.hidden {
   display:none;
}
.font-small { font-size: 82%; }
.full-width { width: 100%;}
.left-box { float: left; }
.right-box { float: right; }

/* uprava prvku globalne */
p,h1,h2,h3,h4 {
   margin: 0;
   padding: 0;
   margin-bottom: 0.5em;
}
h1 { font-size: 122%; }
h2 { font-size: 112%; }
h3 { font-size: 107%;}
h4, h5, h6 { font-size: 100%;}
a {
   &:visited, &:active {
      text-decoration: none;
      border-width: 0;
   }
   &:visited {

   }
   &:hover {
      text-decoration: underline;
   }
}
span[title] {
   border-bottom: 1px dashed gray;
}
td, th {font-size: 100%; text-align: left; }

.ui-widget { /* ui-widgent má normálně 1.1em */
   font-size: 100% !important;
   font-family: "Tahoma", "Arial", sans-serif !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
   /*font-size: 0.8em !important;*/
}
.note {
   .font-small;
   border-top: 1px solid silver;
}
.rounded-corners(@radius: 5px) {
   border-radius: @radius;
   -webkit-border-radius: @radius;
   -moz-border-radius: @radius;
}
.even { background-color: #d4e3ff; }
.odd {}
.image-left {
   .left-box;
   padding: 0 10px 10px 0;
}
.image-right {
   .right-box;
   padding: 0 0 10px 10px;
}
a.image {
   img {
      display: block;
   }
   &:hover {
      text-decoration: none;
   }
   span {
      padding: 2px;
      display: block;
   }
   border: 1px solid #B0A1A1;
   display: inline-block;
   margin-bottom: 10px;
   margin-right: 10px;
   line-height: 0;
}
ul.unstyled {
   >li {
      margin: 0;
      padding: 0;
   }
   margin: 0;
   padding: 0;
   list-style: none;
}

.photogalery + p, .photogalery + div, .photogalery + hr,
a.image + p, a.image + h3, a.image + h2, a.image + h3, a.image + h4, a.image + div
{clear: both;}

/* Hlášky */
.message, .alert {
   .font-small;
   padding: 5px 5px 5px 40px;
   background-repeat: no-repeat;
   background-position: 11px 50%;
   border-bottom: 2px transparent solid;
   border-top: 2px transparent solid;
   margin-bottom: 5px;
   p { margin-bottom:3px; border-top: 1px solid gray;}
   p:first-child { border: none;}
}
#infoMessages, .message-info, .alert-info { border-color: darken(@color-success, 20%); background-color: @color-success; background-image: url('@{dirCore}images/icons/accept.png');}
#errMessages, .message-err, .alert-error { border-color: darken(@color-error, 20); background-color: @color-error; background-image: url('@{dirCore}images/icons/error.png');}
.message-warning, .alert-warning { border-color: darken(@color-warning, 20); background-color: @color-warning; background-image: url('@{dirCore}images/icons/error.png');}
#coreErrMessage { border-color: darken(@color-error, 40); background-color: darken(@color-error, 20); background-image: url('@{dirCore}images/icons/error.png');}

#loadingBox, .loadingBox {
/*   background-color: white;*/
   text-align:center;
   z-index: 10001;
   background-image: url('@{imgdir}bg_w_70.png');
}
#loadingBox .loader-w, .loadingBox .loader-w {
   text-align: left;
   display: block;
   margin: 0 auto;
   width: 100px;
   border: 1px solid gray;
   background: white url('@{imgdir}ajax-loader.gif') 3px 3px no-repeat;
   padding: 2px 2px 2px 23px;
   -moz-box-shadow:0 0 2px #000000;
   -webkit-box-shadow:0 0 2px #000000;
   box-shadow:0 0 2px #000000;
   position:absolute;
   top:30%;
   left:40%;
}
/* odkaz zpět */
.button_back {
   display: block;
   text-align: center;
   margin-bottom: 5px;
}
/* EOF back */

/* SOF MENU */
#breadcrumb {
   font-size: 70%;
}
#breadcrumb .admin {color: red;}
/* EOF MENU */

/* SOF main content NEW!!! */
.text {
   p {
      margin-bottom: 1em;
   }
   ul > li { list-style: disc; }
   ol > li { list-style: decimal; }
}

.post, .content {
   margin-bottom: 0.5em;
   .title-image {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
   }
   .info {
      font-size: 80%;
      margin-bottom: 0.5em;
      color: @color-text-light;
   }
}
.posts-list {
   .post {
      p {
         margin-bottom: 0;
      }
   }
}
.concept {
   background-color: #dddddd;
}

/* SOF ADMIN CONTENT */
.content-admin {

}
/* EOF ADMIN CONTENT */


/* obsah s editačním formulářem */
.content-form-edit table.ui-widget td,
.content-form-edit table.ui-widget th {
   padding: 3px;
}
/* EOF main content NEW!!! */

/* SOF panel content NEW!!! */
.panel {
   overflow: hidden;
   padding: 5px;
   border: 1px solid gray;
   margin-bottom: 5px;

   input[type="text"], input[type="password"] {
      max-width: 155px;
   }

   .name {
      font-weight: bold;
   }
   .content {
      margin: 5px 0;
   }
   .article {
      border-bottom: 1px dotted silver;
      .name {
         font-size: 80%;
         margin-bottom: 5px;
      }
   }
   .note, .place, .time, .date {
      font-size: 82%;
   }
   .note {
      border: none;
   }
   .time, .date {
      font-style: italic;
   }
}

/* EOF panel content NEW!!! */

/* SOF panel content OLD!!! */
.panel-box {}
.panel-box-label, .panel-box-content-label {
   font-weight: bold;
}
.panel-box-content {
   border: 1px solid gray;
   padding: 2px;
}
.panel-box-content-image {}
.panel-box-link-more {
   text-align: right;
}

/* EOF panel content OLD!!! */

/* SOF Article tools */
.article-tools { padding-top: 1em; }
.facebook-button { float: left; }
.share-button { float: left; padding-top: 4px; width: 180px; }
.share-button div {display: inline;}
.nav-button { padding-top: 4px; text-align: right; }
/* EOF Article tools */

/* SOF Sitemap Content */
.sitemapList li {
   margin-left:20px;
}
/* EOF sitemap Content */

/* scrolovátka */
.scroll { }
.scroll .numbers { margin: 0 150px; text-align: center; }

/* SOF navigtion menu */
.navigationMenu {
   background-color: white;
   border-bottom: 1px solid gray;
   padding: 2px;
}

.navigationMenu #subdomains {
   .left-box;
}
.navigationMenu #projects {
   .right-box;
}
.navigationMenu li { float:left; padding: 2px; }
.navigationMenu li img { vertical-align:bottom; }
/* EOF navigtion menu */

/* SOF komentare */
.comments-comment {
   margin-bottom: 5px;
   border: 1px solid silver;
   .rounded-corners();
}
.comments-tools {
   float: right;
   text-align: right;
}
.comments-tools form {
   float: left;
}
.comments-censored-text {
   background-color: silver;
   font-size: xx-small;
}
.comment-notviewed{
   box-shadow: 0px 0px 5px #000000;
   -webkit-box-shadow: 0px 0px 5px #000000;
   -moz-box-shadow: 0px 0px 5px #000000;
   border: 1px solid #FFE7A1;
}
/* EOF komentare */

/* SOF Modules */
/* bannery */
.banners {
   border: 1px solid silver;
   .title {
      color: silver;
      font-style: italic;
      font-size: 80%;
      display: block;
   }
}
/* volitelná mennu */
.custom-menu {
   &.custom-menu-bottom {
      ul {
         li {
            list-style: none;
            float: left;
            margin: 0;
            padding: 2px 5px;
         }
         margin: 0;
         padding: 0;
      }
   }
   &.custom-menu-left {
      ul {
         margin: 0;
         padding-left: 20px;
      }
      border: 1px solid gray;
   }
}


/* EOF Modules */

/* SOF file extension */
.file-icon, .dir-icon {
   padding-left: 18px;
   background-color: transparent;
   background-position: center left;
   background-image: url('@{imgdir}files/txt.gif');
   background-repeat: no-repeat;
}
.file-pdf {background-image: url('@{imgdir}files/pdf.gif');}
.file-doc, .file-docx, .file-dot, .file-odt, .file-ott, .file-rtf {background-image: url('@{imgdir}files/doc.gif');}
.file-xls, .file-xlt, .file-ods, .file-ots {background-image: url('@{imgdir}files/xls.gif');}
.file-ppt, .file-pps {background-image: url('@{imgdir}files/ppt.gif');}
.file-zip {background-image: url('@{imgdir}files/zip.gif');}
.file-rar {background-image: url('@{imgdir}files/rar.gif');}
.file-avi, .file-wmv, .file-mpg, .file-flv, .file-swf {background-image: url('@{imgdir}files/avi.gif');}
.file-jpg, .file-bmp, .file-gif, .file-jpeg, .file-wmf, .file-png, .file-psd, .file-tiff {background-image: url('@{imgdir}files/jpg.gif');}
.dir-icon {background-image: url('@{imgdir}icons/folder.png');}
/* EOF file extension */

/* PRINT */
@media print {
   body { font-size: 80%; }
   * { background: none!important;  background-color: white!important; }
   #page { width: auto; }
   .image-box {
      float: left;
      margin-right: 10px;
   }
   #headwrap, #col2wrap, #col3wrap, #footwrap {
      display: none;
   }
   #col1pad {
      margin: 0;
   }
}

// import content css
@import "style-tinymce.less";
