/* písma a barvy */
//body.mceContentBody {
//   font-size: 100%;
//}

/* resetovač */

/* Styly pro boxy */
.text {
   p {
      margin-bottom: 1em;
   }
   
   ul > li { list-style: disc; }
   ol > li { list-style: decimal; }
}

/* Styly pro obrázky */
.image-left {
   .left-box;
   padding: 0 10px 10px 0;
}
.image-right {
   .right-box;
   padding: 0 0 10px 10px;
}

a.image {
    border: 1px solid #B0A1A1;
    display: inline-block;
    /*width: 150px;
    height: 180px;*/
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 0;
}
a.image img {
   display: block;
}

a.image:hover {
    text-decoration: none;
}
a.image span {
   padding: 2px;
   display: block;
}

.photogalery + p, .photogalery + div, .photogalery + hr, 
a.image + p, a.image + h3, a.image + h2, a.image + h3, a.image + h4, a.image + div 
{clear: both;}
