/* jen pro pořádek */
body.with-admin-menu {padding: 0; margin: 0; margin-top: 20px}
/* fonty */
.admin-font, .toolbox input, ul.dropdown li a {
   font-family: "Tahoma", "Arial", sans-serif !important;
   font-size: 12px;
}
/* BASIC ADMIN MENU wrapper */
#adminMenuWrapper {
   background-color: #dadada;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10002;
   text-align: left;
   border-bottom: 1px solid gray;
   box-shadow:0px 0px 3px #000;
   -webkit-box-shadow:0px 0px 3px #000;
   -moz-box-shadow: 0px 0px 3px #000;
   line-height: 1.2;
}
/* ADMIN MENU LEVEL ONE */
ul.dropdown, ul.dropdown ul {
   position: relative;
   list-style: none;
   padding: 0;
   margin: 0;
   z-index: 1000;
}
ul.dropdown li {
   font-weight: bold; float: left; zoom: 1; background-color: #dadada;
   padding: 0;
   margin: 0;
   font-size: small;
   text-decoration: none;
   list-style: none;
}
ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
ul.dropdown li a { display: block; padding: 3px 8px 2px; border-right: 1px solid #333; color: #222;}
ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.adminmenu-user-item, ul.dropdown li.adminmenu-user-item ul li {background-color: #B9D3E6;}
ul.dropdown li.adminmenu-shop-item, ul.dropdown li.adminmenu-shop-item ul li {background-color: #acdd4a;}
ul.dropdown li.hover, ul.dropdown li:hover 
{ background: #F3D673 !important; color: black; position: relative; }
ul.dropdown li.hover a { color: black; }

/* ADMIN MENU LEVEL TWO */
ul.dropdown ul {
   width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0;
   border: 1px solid gray;
   box-shadow:0px 0px 3px #000;
   -webkit-box-shadow:0px 0px 3px #000;
   -moz-box-shadow: 0px 1px 3px #000;
}
ul.dropdown ul li {
   font-weight: normal;
   background: silver;
   color: #000;
   border-bottom: 1px solid silver;
   float: none;
   /* IE 7 */
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { border-right: none; width: 90%; display: inline-block; }
/* LEVEL THREE */
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }

/* For tinyMCE - max width*/
.textarea_tinymce {
   width: 100%;
}

/* SOF ToolBox Panel s editací */
.toolbox {
   background: orange;
   border: olive 1px solid;
   position: absolute;
   top: 0px;
   right: 0px;
   height: auto;
   background-repeat: no-repeat;
   display: none;
   z-index: 3;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   text-align: left;
}
.toolbox form p {
   padding: 0 !important;
   margin: 0 !important
}
.toolbox-tool input[type="submit"] {
   background:none;
   border:none !important;
   cursor: pointer;
   text-align:left;
   background-repeat: no-repeat;
}
.toolbox form input[type="hidden"] {
   display:none;
}
.toolbox form input[type="image"] {
   vertical-align:bottom;
}
.toolbox form input[type="submit"]:hover {
   color: black;
}
a.toolbox-button {
   display: block;
   position: absolute;
   top: 1px;
   right: 1px;
   width: 20px;
   border-width: 1px;
   overflow: hidden;
   line-height: 5px;
   padding: 0;
   z-index: 10000;
}
a.toolbox-button img {
   padding: 2px;
   margin: 0;
}
.toolbox-tool {
    line-height: 16px;
    padding: 2px 2px 0 2px;
}
.toolbox-tool img {
   vertical-align:-2px;
}
.toolbox-active-content {
   background-color: #e3e3e3;
}
/* EOF ToolBox Panel s editací */

/* Jazykové taby */
form table.form-table p.form-link-lang-container {
   margin: 0;
   padding: 2px 3px;
   padding-right: 0;
   border: 1px solid #bbbbbb;
   border-bottom: 0px solid transparent;
   float: left;
   background-color: #eeeeee;
}
.form-elem-container { /*form-link-lang-container need clearfix */
   clear: left;
}
a.form-link-lang {
   color: black;
   font-size: 12px;
   border: 1px solid #bbbbbb;
   padding: 3px;
   margin-right: 3px;
   display: block;
   float: left;
   background: transparent url('../images/forms/langs_back.gif') 0 0 repeat-x;
   -moz-border-radius: 2px;
   border-radius: 2px;
}
a.form-link-lang:hover, a.form-link-lang-sel:hover, a.form-link-lang:focus, a.form-link-lang-sel:focus {
   background-position: 0 -20px;
   text-decoration: none;
}

a.form-link-lang-sel {
   background-position: 0 -40px;
}

/* SOF QuickTool Toolbox */
#quicktool-toolbox {
   float: right;
   height: 20px;
   line-height: 20px;
}
#quicktool-toolbox a {
   display: block;
   float: left;
   height: 20px;
}
#quicktool-toolbox a img {
   padding: 2px;
}
#quicktool-toolbox a:hover {
   background-color: #bbbbbb;
}
/* EOF QuickTool Toolbox */

/* donastavení kontentu při editaci */
.main-content-text, .main-content-images, .main-content-list {
   border-width: 0;
} /* text v hlavním obsahu */
li.module-navigation-tab a img {
   top: 5px;
   vertical-align: -3px;
   padding-right: 4px;
}
.lang-image {padding-right: 2px; width: 18px; height: 12px;}

/* Oprava inputu v JqGrid */
.ui-jqgrid input,
.FormGrid input {
   width: auto;
}
/* box s textem pouze pro administrátora */
.admin-info-text {
   color: gray;
   margin-bottom: 5px;
   padding: 5px 3px;
   padding-left: 26px;
   border: 1px solid #999999;
   background: transparent url('/images/icons/error.png') 3px 3px no-repeat;
}
/* Toolbox pro editaci poloĹľek */
.toolbox-inline {
   float: right;
   padding: 3px;
}
.toolbox-inline * {
   display: inline;
   padding: 0;
   margin: 0;
   line-height: 0;
}
.toolbox-inline form div {
   float: left;
   margin-left: 3px;
}

/* titulní obrázky u článků */
a.button-select-title-image {
   width: 100px;
   height: 100px;
   margin: 2px;
   padding: 1px;
   border: 1px solid gray;
   float: left;
}
#dialog-title-image {display: none;}
a.button-open-title-image-galery {margin-left: 10px;}