/* jen pro test */
body, html {padding: 0; margin: 0;}

/* BASIC wrapper */
#adminMenuWrapper {
   background-color: silver;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   text-align: left;
}
#adminMenuHeight {
   height: 1.7em;
   line-height: 1.7em;
   margin: 0;
   padding: 0;
}
/* LEVEL ONE */
ul.dropdown, ul.dropdown ul {
   position: relative;
   list-style: none;
   padding: 0;
   margin: 0;
}
ul.dropdown li {
   font-weight: bold; float: left; zoom: 1; background: silver;
   padding: 0;
   margin: 0;
}
ul.dropdown li {
   text-decoration: none;
}
ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
ul.dropdown li a { display: block; padding: 4px 8px; border-right: 1px solid #333; color: #222; }
ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a { color: black; }
/* LEVEL TWO */
ul.dropdown ul {width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li {
   font-weight: normal;
   background: silver;
   color: #000;
   border-bottom: 1px solid silver;
   float: none;
   /* IE 7 */
   /*display: inline; width: 100%;*/
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block; }
/* LEVEL THREE */
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }

/*Pro tinyMCE*/
.textarea_tinymce {
   width: 100%;
}

/* Panel s editací */
.toolbox {
   background: orange;
   border: olive 1px solid;
   position: absolute;
   top: 5px;
   right: 10px;
   width: auto;
   height: auto;
   padding: 2px 2px 2px 2px;
   background-repeat: no-repeat;
   opacity: 0.3;
}

.toolbox form p {
   padding: 0 !important;
   margin: 0 !important
}

.toolbox input {
   background:none;
   border:none;
   color:gray;
   cursor: pointer;
   text-align:left;
   padding: 0 0 0 16px;
   background-repeat: no-repeat;
}

.toolbox form input[type="hidden"] {
   display:none;
}

.toolbox form input[type="image"] {
   vertical-align:bottom;
}

.toolbox form input[type="submit"]:hover {
   background:none;
   background-repeat: no-repeat;
   color: black;
}
/* EOF Panel s editací */

/* Jazykové taby */
/* TABS content */
.ui-tabs-hide { display: none; }

.ui-tabs-selected { background-color: white; }

ul.langMenu {
   margin-bottom:2px;
   /*background-color: white;*/
}


ul.langMenu li {
   display: inline;
   border-width: 1px 1px 0 1px;
   border-color: black;
   border-style: solid;
   padding: 3px;
}

ul.langMenu li a img {
   padding-right: 3px;
}

.normal ul {
   margin: 0;
}


ul.ui-tabs-panel {
   margin-bottom: 0px;
   border-width: 1px;
   border-color: black;
   border-style: none;
}

.contentBox {
   position: relative;
}
/* EOF Jazykové taby */

/* tabulky */
.valuesTable {
   background-color: white;
   border: 1px solid gray;
}
