@CHARSET "UTF-8";
@import "style-layout.css";
/* SOF RESET */
/* v1.0 | 20080212 */

/* prvky:   - jsou znepoužitelněny*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
/*   font-size: 98%;*/
   font-size: 100%;
   /*vertical-align: baseline; /* Ověřit v IE */
   background: transparent;
}
body {
   /*line-height: 1;*/
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

/* remember to define focus styles! */
:focus {
   outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
   text-decoration: none;
}
del {
   text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/* EOF RESET */


/* Základní nastavení layoutu */
html,body {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   text-align: left;
   background: url('../images/backshadow.png') fixed top center white repeat-y;
}

body {
   /*background-color: white;  purple tone for outer space */
}

/* resetovač */
.reseter {
   border: 0px none;
   margin: 0px;
   padding: 0px;
   float: none;
   clear: both;
   width: 0px;
   height: 0px;
   line-height: 0px;
   font-size: 0px;
}

.hidden {
   display:none;
}

/* uprava prvku globalne */
h1 {
   font-size: large;
   color: black;
}

h2, h2 a {
   font-size: medium;
}

h3 a {
}

a {
   text-decoration: none;
   border-width: 0;
}

a:link {
   text-decoration: none;
   border-width: 0;
}

a:visited {
   text-decoration: none;
   border-width: 0;
   /* color: #003b70; */
}

a:active {
   text-decoration: none;
   border-width: 0;
}

a:hover {
   text-decoration: underline;
   border-width: 0;
}

span[title] {
   border-bottom: 1px dashed gray;
}

.font-small, .note {
   font-size: x-small;
}
.ui-widget { /* ui-widgent má normálně 1.1em */
   font-size: 100% !important;
}
/* Hlášky */
.message {
   font-size: small;
   padding: 5px 5px 5px 40px;
   background-repeat: no-repeat;
   background-position: 11px 50%;
   margin-bottom: 5px;
   /*font-weight: 600;*/
}
.message p {
   margin-bottom:3px;
   border-top: 1px solid gray;
}
.message p:first-child {
   border: none;
}

#infoMessages {
   border-bottom: 2px #b7dcff solid;
   border-top: 2px #b7dcff solid;
   background-color: #cce6ff;
}

#errMessages {
   border-bottom: 2px #ffc7c0 solid;
   border-top: 2px #ffc7c0 solid;
   background-color: #ffe3e0;
}

#coreErrMessage {
   border-bottom: 2px #ffa095 solid;
   border-top: 2px #ffa095 solid;
   background-color: #ffb2a9;
}

/* formulařové prvky */
input, button, textarea, select, a.form-button {
   border: 1px solid #bbbbbb;
   background-color: #ffffff;
   padding: 1px;
   font-size: small;
}
input[type="image"],input[type="checkbox"],input[type="radio"] {
   border: 0;
   background-color:transparent;
}
input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"], input[type="button"], a.form-button {
   -moz-border-radius: 3px;
   border-radius: 3px;
   padding: 1px 3px;
   color: black;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, a.form-button:hover {
   background: #fff7d4 url('../images/forms/buttons_back.gif') 0 0 repeat-x;
   text-decoration: none;
}
input[type="submit"]:hover, button[type="submit"]:hover {
   background-color: #a7fead;
   background-position: 0 -20px;
}
input.button-cancel:hover, input[type="reset"]:hover, button[type="reset"]:hover {
   background-color: #f57676;
   background-position: 0 -40px;
}
input.form-required, textarea.form-required {
   background-position: right top;
   background-image: url('../images/form_required.png');
   background-repeat: no-repeat;
}
label.form-error {
   color:red;
}
input.form-error, textarea.form-error {
   background-color: #f4d0d0;
}

/* tabulka formuláře */
form fieldset {
   position: relative;
   width: 100%;
   float: left;
   clear: both;
   background-color: #eeeeee;
   border: 1px solid #bbbbbb;
}
form fieldset p {
   padding: 0; margin: 0;
}
form fieldset.fieldset-alt legend + table.form-table,
form fieldset.fieldset-alt legend + p.form-legend-text {
   margin-top: 26px;
}
form fieldset legend {
   background: transparent url('../images/forms/legend_back.gif') top left repeat-x;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}
*+html form fieldset legend { /* IE 7 hack */
   left: -7px;
}
form fieldset legend span {
   font-weight: bold;
   float: left;
   display: block;
   padding: 5px 10px 5px 5px;
   font-size: 14px;
}
form fieldset legend span.form-legend-text,
form fieldset.fieldset-alt p.form-legend-text {
   font-weight: normal;
   font-size: 10px;
   padding: 7px 0 0 0;
}
form fieldset.fieldset-alt p.form-legend-text {
   padding: 5px 10px 5px 5px;
}
form fieldset .form-table {
   table-layout:fixed;
   width: 100%;
}
form .form-table td, form .form-table-group td, form .form-table th, form .form-table-group th {
   padding: 3px;
   vertical-align: top;
}
form .form-table td table td { /* tinymce broken layout */
   padding: 0;
}

form th.form-labels {
   width: 85px;
   text-align:left;
   font-size: 12px;
   padding: 5px 0 5px 5px;
   word-wrap: break-word;
}
form .form-table p.form-sub-label, form .form-table p.form-box-validations {
   font-size: x-small;
}
.form-required {
   color:maroon;
}
input[type="text"], input[type="password"], form .form-table .form-element-short {
   width: 200px;
}
textarea, form .form-table .form-element-long {
   width: 450px;
}

/* odkaz zpět */
.button_back {
   display: block;
   text-align: center;
   margin-bottom: 5px;
}
/* EOF back */

/* SOF main content  NEW!!! */
.main-content {} /* Hlavní obsah stránky */
.main-content-list, .main-content-detail, .main-content-comments {} /* Seznamový obsah stránky */
.main-content-link-more {
   text-align: right;
} /* Odkaz více */
.main-content-showed {
   float: left;
} /* Text s počtem zobrazení */
.main-content-comments {} /* box s komentáři */
.main-content-list-record {
   margin-bottom: 0.5em;
   padding: 5px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #8ca1c2;
} /* prvek v seznamu */
.main-content-no-public, .comment-nopublic {
   background-color: #dddddd;
} /* nazveřejněný obsah */
.main-content-list-record-image, .main-content-image {
   float: left;
/*   width: 150px;*/
   text-align: center;
} /* obrázek v prvku v seznamu */
.main-content-list-record-image img, .main-content-image img {
   padding: 0 10px 0px 0;
}
.main-content-list-record-images {} /* Obrázky v seznamu */
.main-content-list-record-date {} /* datum u novinky atd */
.main-content-list-record-text, .main-content-list-record-annotation {
   padding: 0 0 0.7em 0;
} /* text v prvku v seznamu */
.main-content-annotation {
   background-color: #fdf5ce;
   padding: 5px;
   margin-bottom: 1em;
} /* Anotace k textu */
.main-content-tools {
   text-align: right;
} /* linky u článku, řazení, archiv*/
.main-content-note {} /* poznámka */
.main-content-dates {} /* datumy */
.main-content-other {} /* ostatní */
.main-content-image {} /* obrázek v hlavním obsahu */
.main-content-images {} /* obrázeky (galerie) v hlavním obsahu */
.main-content-text {} /* text v hlavním obsahu */
.main-content-text p {
   margin-bottom: 1em;
}
.main-content-text ul li ul {
   margin-left: 30px;
} /* text v hlavním obsahu */

.main-content-form-edit {} /* Třída pro editační formulář */

/* archiv */
.main-content-archive {}/* Hlavní obsah archivu */
.main-content-archive-year {}/* rok v archivu */
.main-content-archive-year-content {}/* obsah roku v archivu */
.main-content-archive-item {}/* položka v archivu */
.main-content-archive-dateadd {
   font-style: italic;
} /* datum přidání položky */

.record-even {
   background-color: #d4e3ff;
}
.record-odd {}

/* EOF main content NEW!!! */

/* SOF panel content NEW!!! */
.panel {
   overflow: hidden;
}
.panel-box {}
.panel-box-label {
   font-weight: bold;
}
.panel-box-content {
   border: 1px solid gray;
   padding: 2px;
}
.panel-box-content-image {}
.panel-box-link-more {
   text-align: right;
}

/* EOF panel content NEW!!! */

/* SOF Article tools */
.article-tools {
   border-top: 1px solid gray;
   margin-top: 1em;
}
/* EOF Article tools */

/* SOF Sitemap Content */
.sitemapList li {
   margin-left:20px;
}
/* EOF sitemap Content */

/* scrolovátka */
.scroll_main {
   text-align: center;
   background-color: white;
}

.scroll_main a {
}

.scroll_main table {
   width: 98%;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0 auto;
   background-color: white;
}


.scroll_main p {
   vertical-align: 4px;
   display: inline;
   /* font-weight: bold;*/
}

/* SOF navigtion menu */
.navigationMenu {
   background-color: white;
   border-bottom: 1px solid gray;
   padding: 2px;
}

.navigationMenu #subdomains {
   float:left;
}
.navigationMenu #projects {
   float:right;
}

.navigationMenu li {
   float:left;
   padding: 2px;
}
.navigationMenu li img {
   vertical-align:bottom;
}
/* EOF navigtion menu */

/* SOF komentare */

.comments-comment {
   margin-bottom: 5px;
   border: 1px solid silver;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.comments-tools {
   float: right;
   text-align: right;
}
.comments-tools form {
   float: left;
}
.comments-censored-text {
   background-color: silver;
   font-size: xx-small;
}
.comment-notviewed {
   box-shadow: 0px 0px 5px #000000;
   -webkit-box-shadow: 0px 0px 5px #000000;
   -moz-box-shadow: 0px 0px 5px #000000;
   border: 1px solid #FFE7A1;
}
/* EOF komentare */

/* SOF file extension */
.file-icon {
   padding-left: 18px;
   background-color: transparent;
   background-position: center left;
   background-image: url('../../../images/files/txt.gif');
   background-repeat: no-repeat;
}
.file-pdf {background-image: url('../../../images/files/pdf.gif');}
.file-doc {background-image: url('../../../images/files/doc.gif');}
.file-xls {background-image: url('../../../images/files/xls.gif');}
.file-docx {background-image: url('../../../images/files/docx.gif');}
.file-zip {background-image: url('../../../images/files/zip.gif');}
.file-rar {background-image: url('../../../images/files/rar.gif');}
.file-avi {background-image: url('../../../images/files/avi.gif');}
/* EOF file extension */