@CHARSET "UTF-8";
.articlesList {
   text-align:justify;
}

.articlesList>div {
   margin-bottom: 1em;
}

.articlesList .imageBox {
   width: 80px;
   height: 80px;
   padding: 5px;
   margin: 0 5px 0 5px;
   border:1px solid gray;
   text-align:center;
   float:left;
}

.articlesList div.noPublicArticle {
   background-color: #e0dfdf;
}

.archiveYearLabel {
   cursor: pointer;
}

ul.archiveYear {
   margin-left: 18px;
}

.button-select-title-image {
   width: 100px;
   height: 100px;
   margin: 2px;
   padding: 1px;
   border: 1px solid gray;
   float: left;
}
#dialog-title-image {
   display: none;
}